################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/server/MarketingCampaignServer/.vs/
/server/MarketingCampaignServer/MarketingCampaignServer/obj
/server/MarketingCampaignServer/MarketingCampaignServer/bin/Debug/net8.0
